body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  background-color: #f0aeae;
  margin: 0;
  padding: 20px;
}

.container {
  background: #9ebfb9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #3e3131;
}

.label {
  margin: 10px 0 5px;
}

.input-group {
  margin-bottom: 20px; 
}

input[type="text"],
select {
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #502727;
  border-radius: 4px;
  margin: 0; 
}

button {
  width: 100%;
  padding: 10px;
  background-color: #61a3ba;
  color: rgb(131, 77, 77);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #7f8cc6;
}

fieldset {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; 
}

legend {
  font-weight: bold;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
